[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "themes/rusty-typewriter"]
	path = themes/rusty-typewriter
	url = https://github.com/math-queiroz/rusty-typewriter
[submodule "themes/hugotex"]
	path = themes/hugotex
	url = https://github.com/kaisugi/HugoTeX
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
